{% extends 'logo_menu.html'%}
{% load static %}
{% block content %}
<!-- Блок Общие данные -->
<form class="center-container" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="padding: 55px"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="filters">
                    <h2 class="mb-3 fs-3">Общие данные</h2>
                    {{form_rf.non_field_errors }}
                    {% for field in form_rf %}
                    <label class="form-label">{{ field.label }}</label>
                    <div class="mb-3">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Конец блока Общие данные -->

    <!-- Блок Опыт работы -->
    <div style="padding: 20px"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="filters">
                    <h2 class="mb-3 fs-3">Опыт работы</h2>
                    {{form_wef.non_field_errors}}
                    {% for field in form_wef %}
                    <label class="form-label">{{ field.label }}</label>
                    <div class="mb-3">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Конец блока Опыт работы -->

    <!-- Блок Образование -->
    <div style="padding: 20px"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="filters">
                    <h2 class="mb-3 fs-3">Образование</h2>
                    {{form_ef.non_field_errors}}
                    {% for field in form_ef %}
                    <label class="form-label">{{ field.label }}</label>
                    <div class="mb-3">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Конец блока Образование -->

    <!-- Блок Обо мне -->
    <div style="padding: 20px"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="filters">
                    <h2 class="mb-3 fs-3">Обо мне</h2>
                    {{form_af.non_field_errors}}
                    {% for field in form_af %}
                    <label class="form-label">{{ field.label }}</label>
                    <div class="mb-3">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Конец блока Обо мне -->
    <!-- Блок Проф навыки -->
    <div style="padding: 20px"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="filters">
                    <h2 class="mb-3 fs-3">Профессиональные навыки</h2>
                    {{form_psf.non_field_errors}}
                    {% for field in form_psf %}
                    <label class="form-label">{{ field.label }}</label>
                    <div class="mb-3">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Блок Портфолио -->
    <div style="padding: 20px"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="filters">
                    <h2 class="mb-3 fs-3">Портфолио</h2>
                    {{form_pf.non_field_errors}}
                    {% for field in form_pf %}
                    <label class="form-label">{{ field.label }}</label>
                    <div class="mb-3">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <!-- Портфолио -->
                    <div class="col-mb-12">
                        <label class="form-label">Ваши работы</label>
                        <div class="image-preview">
                            {% for photo in photos %}
                            <div class="existing-photo-item mb-2" style="display: inline-block; margin-right: 10px;">
                                <img src="{{ photo.image.url }}" alt="Фото"
                                     class="preview-image" >
                                <p>
                                    <a href="{% url 'delete_resume_photo' photo.pk %}"
                                       class="btn btn-danger btn-sm">Удалить</a>
                                </p>
                            </div>
                            {% empty %}
                            {% if request.resolver_match.view_name != 'createResume' %}
                            <p>Нет существующих работ в портфолио.</p>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <input type="file" name="images" id="image-input" value="{{photos}}" class="form-control"
                               multiple>
                    </div>
                    <div id="image-preview" class="image-preview"></div>
                    {% include 'includes/btns_submit_reset.html'%}
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Конец блока Портфолио -->
<script src="{% static 'js/images.js' %}"></script>
<script src="{% static 'resume/js/end_date.js' %}"></script>
{% endblock %}