{% extends 'base.html' %}
{% load static %}

{% block filters %}
<!-- Блок Фильтры -->
        <div class="col-3">
            <div class="filters">
                <h2 class="mb-3 fs-3">Фильтры</h2>
                <form action="{% url 'filteringVacancies' %}" name="customer-form">

                    <!-- Зарплата -->
                    <div class="mb-3">
                        <label class="form-label">Зарплата</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">от</span>
                            <input type="number" name="salary_min" value="{{salary_min}}" class="form-control" placeholder="0">
                            <span class="input-group-text">₽</span>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">до</span>
                            <input type="number" name="salary_max" value="{{salary_max}}" class="form-control" placeholder="100000">
                            <span class="input-group-text">₽</span>
                        </div>
                    </div>

                    <!-- Тип занятости -->
                    <div class="mb-3">
                        <label class="form-label">Тип занятости</label>
                        <select
                                name="employment"
                                id="employment"
                                class="form-select"
                        >
                            <option value=""></option>
                            {% for empl in Employment %}
                            <option value="{{empl.0}}" {% if employment == empl.0 %}selected{% endif %}>{{empl.1}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Способ оформления -->
                    <div class="mb-3">
                        <label class="form-label">Способ оформления</label>
                        <select
                                name="contract"
                                id="contract"
                                class="form-select"
                        >
                            <option value=""></option>
                            {% for cont in Contract %}
                            <option value="{{cont.0}}" {% if contract == cont.0 %}selected{% endif %}>{{cont.1}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Частота выплат -->
                    <div class="mb-3">
                        <label class="form-label">Частота выплат</label>
                        <select
                                name="frequency"
                                id="frequency"
                                class="form-select"
                        >
                            <option value=""></option>
                            {% for freq in Frequency %}
                            <option value="{{freq.0}}" {% if frequency == freq.0 %}selected{% endif %}>{{freq.1}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="yes" id="flexCheckUnderworking" name="underworking" {% if underworking %} checked {% endif %}>
                        <label class="form-check-label" for="flexCheckUnderworking">
                            Подработка
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="yes" id="flexCheckRemote_work" name="remote_work" {% if remote_work %} checked {% endif %}>
                        <label class="form-check-label" for="flexCheckRemote_work">
                            Удалённая работа
                        </label>
                    </div>
                    <div class="r10"></div>
                    <button type="submit" class="btn btn-custom">Применить</button>
                    <a href="{% url 'vacancies' %}" type="btn" class="btn btn-danger">Сбросить</a>
                </form>
            </div>
        </div>
        <!-- Конец блока фильтры -->
        {% endblock %}

        {% block Sort %}
        <!-- Сортировка -->
        <div class="col-8">
            <form action="{% url 'sortVacancies' %}" method="get">
                <div class="input-group">
                    <select
                            class="form-select"
                            id="inputGroupSelect04"
                            aria-label="Выберите сортировку..."
                            name="sort_field"
                    >
                        <option value="" {% if type_sort == '' %}selected{% endif %}>Сортировать по...</option>
                        <option value="sort_data" {% if type_sort == 'sort_data' %}selected{% endif %}>По дате обновления</option>
                        <option value="sort_salary" {% if type_sort == 'sort_salary' %}selected{% endif %}>По заработной плате</option>
                    </select>
                    <button class="btn btn-outline-secondary" type="submit">
                        Сортировать
                    </button>
                </div>
            </form>
            {% endblock%}

            {% block content %}
            {% for vacancy in vacancies %}
            <div class="r15"></div>
            <div class="girl">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="image-content__main">
                                <div class="card-image__main">
                                    {% if vacancy.photo %}
                                    <img src="{{ vacancy.photo.url }}" alt="" class="card-img__main">
                                    {% else %}
                                    <img src="{{ default_image }}" alt="" class="card-img__main">
                                    {% endif %}
                                 </div>
                            </div>
                        </div>
                <div class="col-7">
                <span class="text_upd">Обновлено {{vacancy.date_update }} </span><br>
                <a href="{% url 'showVacancy' vacancy.pk %}" class="text_name"><b>{{ vacancy.title }}</b></a><br>
                <span class="text_name"><b>От {{ vacancy.conditions.salary }} </b></span>
                <div class="some_text">
                    Тип занятости:{{ vacancy.conditions.get_employment_display }}. Выплаты: {{ vacancy.conditions.get_frequency_payments_display }}.
                </div>
                <div class="some_text">
                    <b>{{ vacancy.description|truncatechars:150 }}</b><br>
                    <div class="r5"></div>
                    <p>Дополнительно {{ vacancy.conditions.what_employees_get }}.</p>
                </div>

                <a href="{% url 'showVacancy' vacancy.pk %}" type="button" class="btn btn-custom" >Подробнее</a>
            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
            <div class="r5"></div>
            <p class="text_name"> Вакансий по заданным критериям не найдено</p>
            {% endfor %}
            </div>
            {% endblock %}
